.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ant-input-affix-wrapper {
    width: 50%;
    min-height: 6vh;
    border-radius: 4px;
}

.ant-input-prefix {
    margin-right: 8px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-buttons .ant-btn {
    margin: 0 10px;
}
/* Card container styles */
.home-container {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
  }
